# Environments
venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3
db.sqlite3-journal

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Production static assets
staticfiles/
